In [1]:
#nested dictionary
person={
        "jin":{"salary":70000,"empid":32},
        "jungkook":{"salary":60000,"empid":28}}
print(person["jungkook"]["empid"])
print(person["jin"]["empid"])
print(person["jungkook"]["salary"])
print(person["jin"]["salary"])

28
32
60000
70000

In [2]:
#dictionary with tuples as keys
loc={
    (40.1234,-75.00001):"SouthKorea",
    (34.1223,-111.345):"Vijayawada"}
print(loc[(34.1223,-111.345)])
print(loc[(40.1234,-75.00001)])

Vijayawada
SouthKorea

In [3]:
#set implementations
sets={1,2,3,4,5}
print(sets)
print("add and remove elements")
sets.add(6)
print(sets)
sets.remove(3)
print(sets)
print(2 in sets)
print(sets)
print(3 in sets)
print(sets)

{1, 2, 3, 4, 5}
add and remove elements
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
True
{1, 2, 4, 5, 6}
False
{1, 2, 4, 5, 6}

In [4]:
#set operations
a={12,3,4,5,6,7}
b={12,4,5,9,5,13}
print("Union:",a.union(b))
print("Intersection:",a.intersection(b))
print("Differnce:",a.difference(b))
print("SymmetricDiffernce:",a.symmetric_difference(b))

Union: {3, 4, 5, 6, 7, 9, 12, 13}
Intersection: {12, 4, 5}
Differnce: {3, 6, 7}
SymmetricDiffernce: {3, 6, 7, 9, 13}

In [5]:
#subset check
s={1,2,3}
k={1,2,3,4,5,6}
print("s is subset to k:",s.issubset(k))
print("k is subset to s:",k.issubset(s))

s is subset to k: True
k is subset to s: False

In [25]:
#subset by using conditional operators
a={1,2,3}
b={1,2,3,4,5,6,7}
print("subset or not:",a<=b)
print("Proper subset:",a<b)
print("Superset or not:",a>=b)
print("Proper superset:",b>a)

subset or not: True
Proper subset: True
Superset or not: False
Proper superset: True

In [19]:
#set with lists
nums=[1,2,3,4,5,5]
single=set(nums)
print(single)

{1, 2, 3, 4, 5}

In [23]:
x=set([1,2])
y=set([1,2,3,4,5])
if x.issubset(y):
   print("x is a subset of y")

x is a subset of y

In [33]:
a={'name':'SouthKorea','num':9717}
b='SouthKorea'
for key,value in a.items():
    if value==b:
        print(f"key for value:'(b)':{key}")

key for value:'(b)':name

In [61]:
#type conversions
print(int(23.9))
print(float(3))
print(float(1))
print(complex(23.94))
print(complex(23))
print(str("a"))
print(str(2))
print(str(24.9))
print(list[2,3,4])

23
3.0
1.0
(23.94+0j)
(23+0j)
a
2
24.9
list[2, 3, 4]

In [55]:
x=45
print(float(x))
'''str(x)
tuple(x)
list(x)
set(x)
ord(x)
chr(x)
hex(x)
oct(x)
bin(x)
dict(x)
'''

45.0

'str(x)\ntuple(x)\nlist(x)\nset(x)\nord(x)\nchr(x)\nhex(x)\noct(x)\nbin(x)\ndict(x)\n'

In [ ]:
'''()
**
~ + -
*
/
%
//
5>>+2(nibble) 0001 01
<< >>
&
^ |
bitwise <> == !=
<= < > >=
= %= /= //= -= += **=
identity is isnot
membership in notin
logical and or not
'''