In [4]:
def sample(x,y=1):
    return x*y
print(sample(5))
print(sample(5,3))

5
15

In [6]:
def my_function(fname):
  print(fname)

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil
Tobias
Linus

In [10]:
def result(*args):
    return sum(args)
print(result(1,2,3))
print(result(11,12,13,14))

6
50

In [18]:
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
info(name="KARTHI",age=21,city="Vijayawada")

name:KARTHI
age:21
city:Vijayawada

In [20]:
sq=lambda x:x*x
print(sq(5))
add=lambda x,y:x+y
print(add(3,5))

25
8

In [28]:
def my_function(fname, lname):
  print(fname, lname)

my_function("Emil","Louis")

Emil Louis

In [58]:

def allnum(n):
    return min(n),max(n),sum(n)/len(n)
min_val,max_val,avg=allnum([1,2,3,4,5])
print(f"Min:{min_val},Max:{max_val},Avg:{avg}")

Min:1,Max:5,Avg:3.0

In [87]:
def tail_recursion(n):
    if n > 0:
        print(n)
        return tail_recursion(n - 1)
tail_recursion(n)

5
4
3
2
1

In [101]:
#Direct recursion 
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)

fact(5)

120

In [122]:
#Indirect recursion
def e(n):
    if n==0:
        return True
    return o(n-1)
def o(n):
    if n==0:
        return False
    return e(n-1)
print(e(2))
print(o(3))

True
True

In [124]:
#Tail Recursion
def fact(n,t=1):
    if n==0 or n==1:
        return t
    return fact(n-1,n*t)

fact(5)

120

In [126]:
#Linear Recursion
def total(n):
    if n<=0:
        return 0
    return n+total(n-1)
print(total(10))

55

In [1]:
def sfact(n):
    if n<=0:
        return 1
    return fact(n) *sfact(n-1)
def fact(n):
    if n<=0:
        return 1
    return n *fact(n-1)

print(sfact(4))
print(fact(3))

288
6

In [3]:
#Power Tower
def pt(a,n):
    if n==1:
        return a
    return a**pt(a,n-1)
print(pt(2,4))
print(pt(3,2))

65536
27